
.htmlcss{
    width: 100%;
    border-radius: 6px;
}

.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 10px;
}
.video_preview{
    border-radius: 10px;
    transition: box-shadow 0.2s ease;
}
.video_preview:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.ch_pic{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
.video_info{
    display: inline-block;
    width: 200px;
}
.p_pic{
    width: 36px;
    border-radius: 50px;
}
.htmlcss_row{
    margin-bottom: 8px;
    position: relative;
}
.video_auth,
.video-stat{
    font-size: 12px;
    color: rgb(96,96,96);
}
.video_auth{
    margin-bottom: 4px;
}
.video_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
.video_time{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-top: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}